/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    box-sizing: border-box;
}
  
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Base layout */

body {
    display: grid;
    grid-template-columns: min-content 1fr;
	height: 100vh;
}

nav {
    background-color: beige;
}

main {
    background-color: gray;
	overflow-y: auto;
}

/* Sidebar */
.sidebar {
	padding: 20px;
	width: 300px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.logo > h1 {
	font-size: 2rem;
}


.list-container h3 {
	font-size: 1.3rem;
	margin-bottom: 25px;
}

.list {
	display: flex;
	flex-flow: column nowrap;
	gap: 15px;
}

.list li {
	display: flex;
	flex-flow: row-reverse nowrap;
	justify-content: flex-end;
	gap: 10px;
	font-size: 1.2rem;
	align-items: center;
	height: 25px;
}

footer {
	display: flex;
	flex-grow: 1;
	align-items: flex-end;
	justify-items: flex-end;
}

footer p {
	font-size: 1.1rem;
}

footer a {
	text-decoration: none;
}

/* Todos display */
.main-container {
	margin: 100px;
	padding: 80px;
	background-color: white;
	border-radius: 20px;
}

.selected-filter {
	font-size: 2rem;
	margin-bottom: 30px;
}

.todos-container {
	display: grid;
	justify-items: start;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
}

.todo {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 14px;
	background-color: blanchedalmond;
	border-radius: 20px;
	max-width: 400px;
	width: 100%;
}

.todo-notes ul{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.todo-notes li {
	background-color: aqua;
	padding: 10px;
	border-radius: 10px;
}

.checklist-items {
	background-color: white;
	padding: 10px;
	border-radius: 10px;
}

.checklist-items ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.checklist-items li {
	display: flex;
	margin-left: 10px;
}

.checklist-items li input {
	margin: 0;
	margin-right: 5px;
}